[class*="-code-container"] {
	display: flex;
	flex-direction: column;
	font-family: Roboto;
}
[class*="-code-header"] {
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: auto;
}

[class*="-code-info"] {
	display: flex;
	align-items: center;
}
[class*="-code-play"] {
	cursor: pointer !important;
}
[class*="-code-more"] button {
	outline: none;
	border: none;
	background-color: inherit;
	color: inherit;
	cursor: pointer;
}
[class*="-code-icon"] svg {
	display: block;
}
[class*="-code-options"] {
	display: flex;
}
[class*="-code-body"] {
	border-radius: 10px;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	gap: 78px;
	padding: 8px;
}

[class*="-code-body"] p {
	margin: 0;
}

/* javscript-node */
[class*="-node"] {
	border-radius: 10px;
}
.custom-node__select[class*="-codenode"] > .react-flow__handle-left {
	border: none;
	width: 17px;
	height: 16px;
	flex-shrink: 0;
	border-radius: 6px 0px 0px 6px;
	left: -26px;
}
.custom-node__select[class*="-codenode"] > .react-flow__handle-right {
	border: none;
	width: 17px;
	height: 16px;
	flex-shrink: 0;
	border-radius: 0px 6px 6px 0px;
	right: -26px;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.spinner {
	animation: spin 2s linear infinite;
}
